@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --title: #765579;
    --description: #66676D;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.first-item {
    transform: translate3d(-200px, 350px, 0);
    z-index: 1;
}

.second-item {
    transform: translate3d(0, 0, 0);
    width: 676px;
    height: 676px;
    z-index: 3;
}

.third-item {
    transform: translate3d(767px, 350px, 0);
    z-index: 2;
}

